<VirtualHost *:${HTTP_PORT}>
	ServerAdmin ${SERVERADMIN}
	ServerName ${SERVERNAME}:${HTTP_PORT}
	DocumentRoot /var/www
	
	RequestHeader unset Expect early
	
    # either redirect to https or use goobi-common.conf
    Include conf/${REDIR_XOR_COMMON}
</VirtualHost>
