<VirtualHost *:${HTTP_PORT}>
	ServerAdmin ${SERVERADMIN}
	ServerName ${SERVERNAME}:${PRIMARY_PORT}
	DocumentRoot /var/www
	
	RequestHeader unset Expect early
	
    # either redirect to https or use goobi-common.conf
    Include conf/${REDIR_XOR_COMMOM}
</VirtualHost>
