<VirtualHost *:${HTTPD_PORT}>
	ServerAdmin ${SERVERADMIN}
	ServerName ${SERVERNAME}
	DocumentRoot /var/www
	
	RequestHeader unset Expect early
	
    # TODO FIXME: either put in the following snippet or goobi-common.conf
	#rewrite to https except /.well-known for lets encrypt cert renewal
	RewriteEngine On
	RewriteCond "%{REQUEST_URI}" "!^/.well-known.*$"
	RewriteRule "^/?(.*)" "https://%{SERVERNAME}/$1" [R,L]
</VirtualHost>
